#textdomain wesnoth-aotu

[textdomain]
    name="wesnoth-aotu"
    path="data/add-ons/Attack_of_the_Undead/translations/"
[/textdomain]

[campaign]
    id=Attack_Of_The_Undead
    icon="units/human-magi/red-mage.png~RC(magenta>red)"
    image="portraits/humans/mage-red.png"
    name= _"Attack of the Undead"
    abbrev= _"AotU"
    define=CAMPAIGN_ATTACK_OF_THE_UNDEAD
    first_scenario=1_The_Student
    description= _"Play as a mage to protect your city from the undead." + "
" + _"(Novice level, 4 scenarios.)"

    [difficulty]
        define=EASY
        image="units/human-magi/mage.png~RC(magenta>red)"
        #textdomain wesnoth-units
        label= _"Mage"
        #textdomain wesnoth-trow
        description= _"Easy"
        default=no
    [/difficulty]

    [difficulty]
        define=NORMAL
        image="units/human-magi/red-mage.png~RC(magenta>red)"
        #textdomain wesnoth-units
        label= _"Red Mage"
        #textdomain wesnoth-trow
        description= _"Normal"
        default=yes
    [/difficulty]

    [difficulty]
        define=HARD
        image="units/human-magi/arch-mage.png~RC(magenta>red)"
        #textdomain wesnoth-units
        label= _"Arch Mage"
        #textdomain wesnoth-trow
        description= _"Challenging"
        default=no
    [/difficulty]

    {./about.cfg}
[/campaign]

#ifdef CAMPAIGN_ATTACK_OF_THE_UNDEAD
{~add-ons/Attack_of_the_Undead/scenarios/}
#endif
